.main {
  display: grid;
  width: var(--max-width);
}

.heroCard {
  display: grid;
  /* background: rgba(222, 222, 222, 0.2); */
  width: 650px;
  height: 498px;
  padding: 40px 50px;
  backdrop-filter: blur(55px);
  border-radius: 20px;
}

.navigation {
  display: flex;
  height: 50px;
  align-items: center;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.navigation p {
  /* font-family: var(--secondary-font); */
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

.circle {
  background-color: var(--selective-yellow);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}